.footer-section {
  margin-top: 10rem;
  background: rgb(210, 210, 210);
  padding: 4rem;
          .box{
              display: grid;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              
              img{
                width:20%;
                margin-left: 38%;
                margin-bottom: 2.5rem;
              }
              .title{
                @include titleText(2.5rem);
               font-style: italic;
               font-weight: bolder;
               color:$light-color;
               cursor:pointer;
              }
              p{
                @include titleText(2.5rem);
                font-style: italic;
                color:$light-color;
                font-weight: 300;
              }
          }
          .icons{
            margin-top: 1.5rem;
              display: flex;
              justify-content: center;
              align-items: center;
              a{
                @include iconsBox();
                border-radius: 50%;
                color: $color-icon;
                border:1px solid $color-icon;
                background: $bg-icon;
                margin: 0.5rem;
                display: flex;
                justify-content: center;
                font-size: 1.5rem;
                &:hover{
                  background:$light-color;
                }
              }
          
       }
       .credit{
        text-align: center;
        font-size: 2rem;
        padding: 2rem 1rem;
        color:$light-color;

        span{
             color:$black;
        }
   }
}
