.banner{
     padding:0;
     position: relative;
     .box{
               display: flex;
               min-height: 60vh;
               background-size: cover !important;
               background-position: center !important;
               align-items: center;
               img{
                    height: auto;
                    width: 100%;
                    object-fit: cover;
               }
          .content{
               position: absolute;
               top:35%; left: 5rem;
               span{
                    @include titleText(4rem);
                    font-weight: 500;
                    color:$white-smoke;
               }
               h3{
                    @include titleText(1.6rem);
                    text-transform: uppercase;
                    letter-spacing: .5rem;
                    color:$white-smoke;
                    padding-top: 15px;
               }
               .btn{
                    margin-top:30px;
                     padding: 2rem 5rem;
                     display:inline-block;
                     font-size: 1.6rem;
                     text-transform: uppercase;
                     color:$white;
                     text-decoration: none;
                     letter-spacing: .6rem;
                      background-color:$btn-color;
               }
          }

     }
}