@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: whitesmoke;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #333;
}
html::-webkit-scrollbar-thumb {
  background: #666;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
}
.heading h1 {
  font-size: 3rem;
  color: black;
  text-transform: capitalize;
  text-transform: uppercase;
  color: #fff;
}
.heading p {
  color: #fff;
  padding-top: 0.7rem;
  font-size: 1.7rem;
}
.heading p a {
  color: #fff;
}
.heading p a:hover {
  color: #333;
}

.title {
  font-size: 3rem;
  color: black;
  text-transform: capitalize;
  color: #333;
  text-align: center;
  padding: 1rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 2.8rem;
  font-size: 1.7rem;
  color: #333;
  background: none;
  cursor: pointer;
  border-radius: 0.5rem;
}
.btn:hover {
  background: #333;
  color: #fff;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 0 9%;
}
.header .row {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header .row img {
  max-width: 5rem;
  width: 100%;
}
.header .row .title {
  font-size: 2rem;
  color: #333;
}
.header .navbar ul {
  list-style: none;
}
.header .navbar ul li {
  position: relative;
  float: left;
}
.header .navbar ul li a {
  font-size: 1.7rem;
  color: #666;
  padding: 2rem;
  display: block;
}
.header .navbar ul li a:hover {
  background: #eee;
}
.header .icons div {
  font-size: 2.5rem;
  color: #333;
  cursor: pointer;
  margin-left: 2rem;
}
.header .icons div:hover {
  color: rgba(17, 17, 17, 0.7);
  transform: scale(1.5);
}

#menu-btn,
#info-btn {
  display: none;
}

@-webkit-keyframes fadeIn {
  0% {
    transform: translateX(3rem);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateX(3rem);
    opacity: 0;
  }
}
.banner {
  padding: 0;
  position: relative;
}
.banner .box {
  display: flex;
  min-height: 60vh;
  background-size: cover !important;
  background-position: center !important;
  align-items: center;
}
.banner .box img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .box .content {
  position: absolute;
  top: 35%;
  left: 5rem;
}
.banner .box .content span {
  font-size: 4rem;
  color: black;
  text-transform: capitalize;
  font-weight: 500;
  color: whitesmoke;
}
.banner .box .content h3 {
  font-size: 1.6rem;
  color: black;
  text-transform: capitalize;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: whitesmoke;
  padding-top: 15px;
}
.banner .box .content .btn {
  margin-top: 30px;
  padding: 2rem 5rem;
  display: inline-block;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.6rem;
  background-color: rgba(85, 85, 85, 0.534);
}

.about .row-about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.about .row-about .image {
  flex: 1 1 42rem;
  border-radius: 0.5rem;
}
.about .row-about .image img {
  width: 100%;
  border-radius: 0.5rem;
}
.about .row-about .content {
  flex: 1 1 42rem;
}
.about .row-about .content h3 {
  font-size: 3.5rem;
  color: black;
  text-transform: capitalize;
  color: rgba(17, 17, 17, 0.7);
  line-height: 2;
}
.about .row-about .content p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
  line-height: 1.5;
  padding: 2rem 0;
}
.about .row-about .content p a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 1.8rem;
  font-size: 1.5rem;
  color: #333;
  background: #eee;
  cursor: pointer;
  border-radius: 0.3rem;
}
.about .row-about .content .resume-button {
  padding: 1.6rem 2.6rem;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.548);
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-projects .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}
.section-projects .box-container .box {
  border-radius: 1rem;
  background: #eee;
  overflow: hidden;
}
.section-projects .box-container .box:hover .image img {
  transform: scale(1.1);
}
.section-projects .box-container .box:hover .image a {
  display: block;
  position: absolute;
  top: 70%;
  left: 70%;
  background-color: #555;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.6rem 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  text-align: center;
}
.section-projects .box-container .box:hover .image a:hover {
  background-color: #333;
}
.section-projects .box-container .box .image {
  border-radius: 0.5rem;
  overflow: hidden;
  height: 25rem;
  width: 100%;
  position: relative;
}
.section-projects .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-projects .box-container .box .image a {
  display: none;
}
.section-projects .box-container .box .content {
  padding: 2rem;
}
.section-projects .box-container .box .content p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
  max-width: 60rem;
  margin: 1rem auto;
  color: rgba(17, 17, 17, 0.7);
  cursor: pointer;
}
.section-projects .box-container .box .content p:hover {
  color: #333;
}
.section-projects .box-container .box .content .icon {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-projects .box-container .box .content .icon a {
  font-size: 1.4rem;
  color: rgba(17, 17, 17, 0.7);
}
.section-projects .box-container .box .content .icon a:hover {
  color: #333;
}
.section-projects .box-container .box .content .icon a i {
  padding-right: 0.5rem;
  color: #666;
}

.contact-info {
  position: fixed;
  top: 5rem;
  right: 0;
  width: 35rem;
  background: rgb(215, 212, 212);
  height: 100%;
  text-align: center;
  z-index: 1100;
  padding: 0 2rem;
  padding-top: 5rem;
  display: none;
}
.contact-info.active {
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  display: block;
}
.contact-info #close-contact-info {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 4rem;
  color: #000;
}
.contact-info #close-contact-info:hover {
  transform: rotate(90deg);
}
.contact-info .info {
  padding: 2rem 0;
}
.contact-info .info i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  margin-bottom: 0.5rem;
  background: #eee;
  color: #333;
}
.contact-info .info i:hover {
  background: #333;
  color: white;
}
.contact-info .info h3 {
  font-size: 2rem;
  color: black;
  text-transform: capitalize;
  padding: 1rem 0;
}
.contact-info .info a,
.contact-info .info p {
  font-size: 1.5rem;
  color: #666;
  line-height: 2;
}

.footer-section {
  margin-top: 10rem;
  background: rgb(210, 210, 210);
  padding: 4rem;
}
.footer-section .box {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-section .box img {
  width: 20%;
  margin-left: 38%;
  margin-bottom: 2.5rem;
}
.footer-section .box .title {
  font-size: 2.5rem;
  color: black;
  text-transform: capitalize;
  font-style: italic;
  font-weight: bolder;
  color: #666;
  cursor: pointer;
}
.footer-section .box p {
  font-size: 2.5rem;
  color: black;
  text-transform: capitalize;
  font-style: italic;
  color: #666;
  font-weight: 300;
}
.footer-section .icons {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-section .icons a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  color: rgb(125, 125, 125);
  border: 1px solid rgb(125, 125, 125);
  background: rgb(220, 220, 220);
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
.footer-section .icons a:hover {
  background: #333;
  color: white;
}
.footer-section .icons a:hover {
  background: #666;
}
.footer-section .credit {
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  color: #666;
}
.footer-section .credit span {
  color: #333;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 0 2rem;
  }
  section {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  #contact {
    display: none;
  }
  #menu-btn,
#info-btn {
    display: inline-block;
  }
  .header {
    padding: 2rem;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .navbar ul li {
    width: 100%;
  }
  .header .navbar ul li ul {
    position: absolute;
    width: 100%;
  }
  .header .navbar ul li ul li a {
    padding-left: 4rem;
  }
  .contact-info {
    top: 8.5rem;
  }
}
@media (max-width: 540px) {
  .banner .box .content {
    top: 25%;
  }
  .banner .box .content .span {
    font-size: 1.5rem;
  }
  .banner .box .content h3 {
    font-size: 1rem;
  }
  .banner .box .content a {
    font-size: 1rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .row {
    width: 15%;
  }
  .contact-info {
    top: 11rem;
  }
  .banner .box .content {
    top: auto;
  }
  .banner .box .content span {
    font-size: 2.5rem;
    padding-top: 0.5rem;
  }
  .banner .box .content .btn {
    font-size: 1rem;
  }
}/*# sourceMappingURL=global.css.map */